<main>
  <div class="container">
    <p>In Set Game u click on three cards to select them as a possible set. If the selection is correct, they will be added to the list of found sets and removed from the table board.</p>
    <p>The game ends when there are no more sets possible or when there are no more cards.</p>

    <div class="miniContainer">
      <h2>Games</h2>
      <button class="createGameButton" (click)="createGame()">Create New Game</button>
    </div>
    <p>Your games:</p>
    @if (loading()) {
      <p>Loading games...</p>
    } @else {
    <ul>
      @for (game of games(); track game.id) {
        <li>
          <a [routerLink]="['/games', game.id]">{{ game.createdAt | refactorDate }}</a>
        </li>
      } @empty {
        <p>No games found.</p>
      }
    </ul>
    }
  </div>
</main>
