<main>
  @if (game(); as currentGame) {
    <div class="container">
      <div class="miniContainer">
        <h1>Game Details</h1>
        <button [routerLink]="['/games']">Back to overview</button>
      </div>

      <div class="stats">
        <div class="stat">
          <span class="label">Created at</span>
          <span class="value">{{ currentGame.createdAt | refactorDate }}</span>
        </div>

        <div class="stat">
          <span class="label">Sets Found</span>
          <span class="value">{{ currentGame.foundSets.length }}</span>
        </div>

        <div class="stat">
          <span class="label">Possible Sets in deck</span>
          <span class="value">{{ currentGame.possibleSetsCount }}</span>
        </div>

        <div class="stat">
          <span class="label">Remaining cards in backlog deck</span>
          <span class="value">{{ cardsInDeck().length }}</span>
        </div>

        <div class="stat">
          <span class="label">Cards on the table</span>
          <span class="value">{{ tableCards().length }}</span>
        </div>

        <div class="stat">
          <span class="label">Finished</span>
          <span class="value">
            {{ currentGame.isFinished ? 'Yes' : 'No' }}
          </span>
        </div>
      </div>

      <button class="showHint" (click)="showHint()">Hint</button>

      <app-board [cards]="tableCards()" [selectedCards]="selectedCards()" [hintedCards]="hintedCards()" (cardClicked)="selectCard($event)"/>

      <button class="deleteGame">Delete Game</button>
    </div>
  } @else {
    <div class="container">
      <h1>Game Not Found</h1>
      <p>A game with that ID does not exist.</p>
    </div>
  }
</main>
