<main>
  @if (game(); as currentGame) {
    <div class="container">
      <div class="miniContainer">
        <h1>Game Details</h1>
        <button [routerLink]="['/games']">Back to overview</button>
      </div>
      <p>Created At: {{ currentGame.createdAt }}</p>

      <app-board [cards]="tableCards()" [selectedCards]="selectedCards()" (cardClicked)="selectCard($event)"/>
    </div>
  } @else {
    <div class="container">
      <h1>Game Not Found</h1>
      <p>A game with that ID does not exist.</p>
    </div>
  }
</main>
