.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.board {
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}
