<div class="stats">
  <div class="stat">
    <span class="label">Created at</span>
    <span class="value">{{ game().createdAt | refactorDate }}</span>
  </div>

  <div class="stat">
    <span class="label">Sets found</span>
    <span class="value">{{ game().foundSets.length }}</span>
  </div>

  <div class="stat">
    <span class="label">Possible sets in table board</span>
    <span class="value">{{ game().possibleSetsCount }}</span>
  </div>

  <div class="stat">
    <span class="label">Remaining cards in backlog deck</span>
    <span class="value">{{ cardsInDeck() }}</span>
  </div>

  <div class="stat">
    <span class="label">Cards on the table</span>
    <span class="value">{{ tableCards() }}</span>
  </div>

  <div class="stat">
    <span class="label">Is game finished?</span>
    <span class="value"> {{ game().isFinished ? 'Yes' : 'No' }} </span>
  </div>
</div>
